@charset "UTF-08";


/* 
Pequenas telas: ate 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
 */


@media  screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to bottom ,#DBD4CC ,#A49F99,#5C5955);
    }

    section#login {
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 297px;

    }

    section#login > div#imagem {
        height: 46vh;
        width: 40vw;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
    }
}

@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to bottom ,#DBD4CC ,#A49F99,#5C5955);
    }

}