@charset "UTF-08";


/* 
Pequenas telas: ate 600px
Celular: de 600px ate 768px
Tablet: 768px ate 992px
Desktop: 992px ate 1200px
Grandes telas: acima de 1200px
 */


@media  screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to bottom ,#DBD4CC ,#A49F99,#5C5955);
    }

    section#login {
        display: flex;
        flex-direction: row;
        width: 80vw;
        height: 297px;

    }

    section#login > div#imagem {
        height: 46vh;
        width: 40vw;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 0px;
    }

   .caixa  {
        width: 147%;
        height: 44px;
   }

   .caixa input {
        width: 301px;
   }

   div#formulario input.entrar {
        width: 147%;
        padding: 9px;
   }

   div#formulario input.entrar:hover {
    background-color: #2e1f0c46;

    transform: scaley(1.1);
   }

   div#formulario a {
        width: 147%;
        padding: 7px;
    }
}



@media screen and (min-width: 992px) {
    
    body {
        background-image: linear-gradient(to bottom ,#DBD4CC ,#A49F99,#5C5955);
    }

    section#login {
        display: flex;
        flex-direction: row-reverse;
        width: 900px;
        height: 350px;
    }

    section#login >div#imagem {
        width: 60%;
        height: 100%;

        border-top-left-radius: 0px;
        border-bottom-right-radius: 15px;
    } 

    .caixa  {
        width: 163%;
        height: 44px;
   }

   .caixa input {
        width: 339px;
   }

   div#formulario input.entrar {
        width: 163%;
        padding: 10px;
    }

   div#formulario input.entrar:hover {
        background-color:#2e1f0c46;

        transform: scaley(1.1);
   }

   div#formulario a {
        width: 163%;
        padding: 8px;
    }

}