@charset "UTF-08";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html , body  {
    height: 100vh;
    width: 100vw;
    background-color: blueviolet;  
}

body {
    position: relative;

}
section#login {  
    position: absolute;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

section#login > div#imagem {
    background: black url(../imagens/login2.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
