@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html , body  {
    height: 100vh;
    width: 100vw;
    background-color: #DBD4CC;
}

body {
    position: relative;

}
section#login {  
    position: absolute;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.11);
    transform: translate(-50%,-50%);

    transition: width .3s, height .6s;
}

section#login > div#imagem {
    display: block;
    background: black url(../imagens/login2.jpg) no-repeat center center ;
    background-size: cover;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; 
}

section#login h1 {
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

section#login p {
    font-size: 14px;
    margin-left: 15px;
    margin-bottom: 15px;
}

section#login form {
    width: 235px;
    margin-left: 5px;
}

.caixa {
    display: block;
    background-color: #5C5955;
    width: 102%;
    height: 45px;
    margin: 5px 0px;
    border-radius: 10px;
}

.caixa label > span {
    padding-top: 8px;
}

.caixa input {
    height: 43px;
    border-radius: 10px;
    border: 1px solid #A49F99;
    background-color: #DBD4CC;
    padding: 4px;

    transform: translateY(-4px); 
}

div#formulario input.entrar {
    width: 100%;
    padding: 8px;
    border: 1px solid #5C5955;
    background-color: #DBD4CC;
    cursor: pointer;
    margin-bottom: 6px;

    border-radius: 5px;
}

div#formulario input.entrar:hover {
    background-color: #2e1f0c46;

    transform: scaley(1.1);
}

div#formulario a {
    color: black;
    text-decoration: none;
    display: block;
    border: 1px solid #5C5955;
    background-color: #DBD4CC;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
}

section#login {
    animation: effect 2s;
}

@keyframes effect {
    0% {
        opacity: 0;
        transform: translatey(-50%);
    }

    100% {
        opacity: 1;
    }
   
}